@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.confirmation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.confirmation-header{
  background-color: #27ae60;
  width: 100%;
  text-align: center;
  padding: 10px 0;
}

.confirmation-content {
  font-size: 3vh;
  margin-top: 20vh;
  background-color: #3a474e;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 100vw;
  height: 50vh;
  max-width: 600px;
  font-family: 'Roboto', sans-serif;
}

#titEnv{
    font-weight: bolder;
    margin-top: 5.5vh;
}

#parEnv{
    margin-top: 5.5vh;
    font-size: medium;
}

.titulo:hover{
    cursor: pointer;
}