@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.main{
    font-family: 'Roboto', sans-serif;
}
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #2f3a40;
  font-family: 'Roboto', sans-serif;
}

.login-header {
    background-color: #42AA65;
    color: white;
    font-size: 40px;
    font-weight: bold;
    width: 100vw;
    height: 10vh;
    position: fixed;
    top: 0;
    left: 0;
    font-family: 'Medula One', cursive;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.login-content {
  background-color: #3a474e;
  padding: 10vh;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 30vw;
  height: 68vh;
  font-family: 'Roboto', sans-serif;
  margin-top: 15vh;
}

.login-form .form-group {
  margin-bottom: 2vh;
}

.login-form .form-control {
  border-radius: 5px;
  padding: 10px;
  background-color: #d9d9d9;
}



.userIcon1{
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  margin-top: -3vh;
  margin-bottom: 3vh;
  width: 6vw;
}

.forgot-password {
  display: block;
  align-items: center;
  color: #d9d9d9;
  text-decoration: none;
}
.forgot-password:hover {
  text-decoration: none;
  color: #adadad;
}

.btn-primary {
  background-color: #42AA65;
  border: none;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
}
.btn-primary:hover {
  background-color: #2f7747;
}

.signup-link {
  margin-top: 20px;
  color: #ecf0f1;
  font-family: 'Roboto', sans-serif;
}

.signup-link a {
  color: #42AA65;
  text-decoration: none;
}
.btn-link{
  color: #42AA65;
  margin-left: -1vw;
  text-decoration: none;
  padding: 1vh 1vw;
}
.btn-link:hover{
  text-decoration: none;
  color: #2f7747;
}
