.workbench-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #2f3a40;
  font-family: 'Roboto', sans-serif;
}

.workbench-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  background-color: #42AA65;
  color: white;
  font-size: 40px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.hotbar-container {
  position: fixed;
  top: 10vh; /* Abaixo do header */
  left: 0;
  height: calc(100vh - 10vh);
  width: 150px;
  background-color: #21292d;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

.hotbar-item {
  background-color: #21292d;
  color: white;
  border: none;
  margin: 0px;
  padding: 10px;
  width: 150px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.hotbar-item:hover {
  background-color: #2f7747;
}

.logout-btn {
  background-color: #dc3545 !important;
  border-color: #dc3545 !important;
}

.logout-btn:hover {
  background-color: #c82333 !important;
  border-color: #bd2130 !important;
}

.user-info {
  font-size: 16px;
  font-weight: normal;
  margin-right: 20px;
}

.user-info span {
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}



